/* Importação das Fonts Google Fonts) 
*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@600&family=Montserrat:wght@800&family=Teko:wght@600&display=swap');

/* Estilos gerais (Todo o projeto) */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* Define o modelo de caixa para incluir padding e borda no tamanho total do elemento */
}

body {
    background: #1F1517;
    color: #FFFF;
}

html {
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none; /* Remove a decoração de texto, como sublinhado, do elemento */
}

ul {
    list-style-type: none; /* Remove os marcadores de lista (bolinhas) de um elemento de lista */
}


/* _____________________________________________________ */
/* Receitas */

.receitas {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
    padding-top: 10px;
}

.receitas-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #fff2e7;
}