/* Importação das Fonts Google Fonts) 
*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@600&family=Montserrat:wght@800&family=Teko:wght@600&display=swap');

/* Estilos gerais (Todo o projeto) */


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /* Define o modelo de caixa para incluir padding e borda no tamanho total do elemento */
}

body {
  background: #1f1517;
  color: #FFFF;
}

html {
  font-family: Inter, sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none; /* Remove a decoração de texto, como sublinhado, do elemento */
}

ul {
  list-style-type: none; /* Remove os marcadores de lista (bolinhas) de um elemento de lista */
}



/* 2ª Digitação (Aqui) */

/* Header */
nav {
  max-width: 1120px; /* Define a largura máxima do elemento em 1120 pixels */
  margin: auto; /* Centraliza o elemento horizontalmente na tela */

  padding: 1.5rem 10rem;
  /* 1.5rem: Isso define o preenchimento vertical (topo e base) do elemento como 1.5 vezes o tamanho da fonte do elemento raiz. Se a fonte do elemento raiz for 16 pixels, isso resultaria em um preenchimento vertical de 24 pixels.
     10rem: Isso define o preenchimento horizontal (esquerda e direita) do elemento como 10 vezes o tamanho da fonte do elemento raiz. Com uma fonte do elemento raiz de 16 pixels, isso resultaria em um preenchimento horizontal de 160 pixels. */

  display: flex; /* Define o elemento como um container flexível */
  flex-direction: row; /* Define a direção dos elementos filhos como uma linha */
  justify-content: space-between; /* Distribui os elementos filhos uniformemente ao longo do eixo principal, com espaçamento entre eles */
}

.title {
  font-family: 'Teko', sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase; /* Transforma o texto para letras maiúsculas */
}

/* Estilos para o menu hamburguer */
.menu-toggle {
  display: none; /* Não exibe em telas grandes */
  cursor: pointer;
}

/* Imagem do Hamburger (Responsividade) */
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

.menu {
  display: flex; /* Define o elemento como um container flexível */
  flex-direction: row; /* Estabelece a direção dos elementos filhos para uma disposição em linha */
  gap: 24px; /* Define o espaçamento entre os elementos filhos como 24 pixels */
  color: #FFF2E7; /* Define a cor do texto para um tom específico de amarelo */
  margin-top: 9px; /* Adiciona um espaçamento de margem superior de 9 pixels ao elemento */
  margin-left: 25px;
  margin-right: 25px;
}

.menu a:hover {
  color: #ffff; /* Nova cor do texto quando o cursor passa por cima */
}

.menu a:visited {
  color: #FFF2E78C; /* Define a cor dos links visitados como #FFF2E78C */
}

.github {
  color: #FFF2E7;
  font-weight: 600;
  margin-top: 8px; /* Adiciona um espaçamento de margem superior de 8 pixels ao elemento */
}

.github:hover {
  color: #a45a49; /* Nova cor do texto quando o cursor passa por cima */
}

/* Responsividade (Telas menores que 768px) */
@media screen and (max-width: 768px) {

  /* Header */
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 9;
  }

  nav ul li {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .menu {
    margin-left: 0px;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    margin-right: -70px;
  }

  .github {
    margin-left: 70px;
    margin-right: 70px;
  }

  .title {
    margin-left: -100px;
  }
}

/* _________________________________________________________________________________________ */
/* Seção principal (Main) */
main {
    display: flex;
    flex-direction: column;
}

.container {
    background: #181012;
    transform: translateX(100%);
    opacity: 0;

    /* Adiciona transição para suavizar a animação */
    transition: transform 1s ease, opacity 1s ease;
}

.container.slide-from-right {
    transform: translateX(0);
    opacity: 1;
}

.info {
    min-width: 1120px; /* Define a largura máxima do elemento como 1120px */
    height: 60vh; /* define a altura do elemento como 60% da altura da janela */
    display: flex; /* Define o elemento como um container flexivel */
    flex-direction: row; /* Estabalece a direção dos elementos */
    justify-content: space-between; /* Distribui os elementos filho uniformemente ao longo do eixo rincipal */
    gap: 6rem; /* Define o espaçamento entre os elementos filho como 6 vezes o tamanho da unodade rem */
    align-items: center; /* Alinha os elementos filhos verticalmente no centro */
    padding: 0rem, 2rem; /* Define o preenchimento (pading) de 0 na direção vertical */
    margin: auto; /* Centraliza o elemento horizontalmente */
    overflow: clip; /* Apara o conteúdo que ultrapassa o conteiner */
}

/* Destaque */
.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.news {
    font-family: 'Epilogue', 'sans-serif';
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.marrom {
    color: #a45a49;
}

h1 {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 56px;
    font-weight: 800;
    color: #FFF;
}

hr {
    border-color: #a45a59;
}

.subtitle {
    color: #c7bab3;
    font-family: 'Inter', 'sans-serif';
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 20px;
}

.imagens {
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;
}

.imagens > figure > img {
    width: 100px;
    border-radius: 0.5rem;
}

button {
    width: 100%;
    max-width: 1120;
    padding: 1rem;
    margin: auto;
    transform: translateY(-50%); /* Move o elemento 50% do seu próprio tamanho para cima ao longo do eixo Y */
}

button {
    border: none;
    padding: 1 rem;
    border-radius: 0.5rem;
    background: #a45a49;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #783f37;
}

/* Responsividade telas menores que 768px */
@media screen and (max-width: 768px) {
    /* Galeria de fotos (mosaico) */
    .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .imagens {
        column-count: 1;
        column-gap: 0.5rem;
    }

    .receitas {
        padding-top: 0px;
    }

    .button {
        padding-bottom: 0px;
    }
}



